@font-face {
    font-family: 'S790-Roman';
    src: url('S790RomanItalic.woff2') format('woff2'),
        url('S790RomanItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

